* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/* Menu */
header {
  width: 100%;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  
  box-shadow: 0px 0px 20px 0 rgb(130, 130, 130);
  position: fixed;
}
.nav-menu {
  display: flex;
  justify-content: flex-end;
}

.ul-menu {
  display: flex;
  list-style: none;
}

.li-menu {
  display: list-item;
}

.link-menu {
  text-decoration: none;
  margin: 10px;
  font-size: 15px;
  color: rgb(185, 182, 182);
}

.link-menu-contacto {
  margin-right: 200px;
  background-color: rgb(236, 29, 150);
  border-radius: 100px;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  color: rgb(207, 203, 203);
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.link-menu-contacto:hover {
  background-color: rgb(238, 82, 173);
}
/* Sección resentación*/

.presentación {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:  rgb(130, 130, 130);
  
}

.info {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  
}




.imagen-inicio {
  height: 350px;
  width: 450px;
  
}

.imagen {
  width: 100%;
  height: 100%;
}

.fuccia {
  color: rgb(236, 29, 150);
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 40px;
}

h4 {
  color: rgb(185, 182, 182);
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 18px;
}

.boton {
  background-color: rgb(236, 29, 150);
  border-radius: 100px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  font-size: 20px;
  color: rgb(207, 203, 203);
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.boton:hover {
  background-color:rgb(221, 63, 155) ;
}

/*Comienza la sección Mis conocimientos*/

.conocimientos-container {
  height: 900px;
  width: 100%;
  background-color: rgb(230, 230, 213);
}

.conocimientos {
  padding-top: 130px;
  text-align: center;
  align-items: center;
}

.mis-conocimientos {
  padding-bottom: 30px;
  font-size: 32px;
}

.conocimientos-grilla {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.conocimientos-item {
  height: 180px;
  width: 200px;
  margin: 50px 50px 50px 50px;
  background-color: white;
  border: 1px solid rgb(160, 158, 158);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.conocimientos-item:hover {
  border: 1px solid rgb(238, 82, 173);
}

.conocimientos-item:hover .conocimientos-item-title {
  color: rgb(238, 82, 173);
}

.conocimientos-icon {
  font-size: 500%;
}

.conocimientos-item-title {
  color: black;
  font-size: 18px;
  margin-top: 15px;
}

/* Sección cita*/

.cita {
  width: 100%;
  height: 500px;
  background-color: rgb(236, 29, 150);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(230, 230, 213);
}

.logo-cita{
  font-size: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
}

.autor {
  margin-top: 50px;
}
/* Sección Mis proyectos*/

.proyectos-container {
  display: flex;
  flex-direction: column;
}

.mis-proyectos {
  height: 300px;
  width: 100%;
  text-align: center;
}

.h1-proyectos {
  font-size: 32px;
  padding-top: 100px;
  padding-bottom: 40px;
}

.proyectos-grilla {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.proyectos-box {
  height: 250px;
  width: 250px;
  margin: 50px 50px 50px 50px;
  border: 1px solid rgb(160, 158, 158);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.proyectos-box:hover {
  border: 1px solid rgb(238, 82, 173);
}

.proyectos-box:hover .proyecto-nombre {
  color: rgb(238, 82, 173);
}

.imagen-portfolio {
  width: 90%;
}

.proyecto-nombre {
  font-weight: bold;
  font-size: 14px;
}

/* Seeción contactáme*/

.contact-seccion {
  height: 900px;
  width: 100%;
  background-color: rgb(160, 160, 156);
  align-items: center;

  display: flex;
  justify-content: center;
}

.contact-container {
  height: 700px;
  width: 80%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(160, 158, 158);
  border-radius: 10px;
}

.social-media-contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100px;
  width: 55%;
  margin-top: 50px;
  
  
}

.social-media-enlaces{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 4%;
  
}

.links-media{
  display: flex;
  text-decoration: none;
  color: black;
}
  
.social-media-ítem{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5%;
  }
  
  

 /* i {
  font-size: 1.5em;
  color: rgb(236, 29, 150);
  padding-right: 25%;
}

i:hover{
  color: white;
}   */

.social-media-ítem:hover{
  background-color: rgb(236, 29, 150);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;

}
.social-media-ítem:hover .links-media{
  color: rgb(236, 29, 150);
}


/* Formulario/Escribime */

form {
  display: flex;
  flex-direction: column;
}

.contact .escribime {
  width: 80%;
  height: 450px;
  
  justify-content: center;
  
}

.contact-me .whrit-me{
font-weight: 900px;

}

label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.group-nombre-apellido {
  display: flex;
  margin-top: 20px;
}

.group-nombre {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.group-apellido {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  height: 40px;
  border-radius: 15px;
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  width: 100%;
}



input::placeholder {
  padding-left: 15px;
}

input:focus {
  box-shadow: 0px 0px 5px 1px rgb(238, 82, 173);
  outline: none;
}

textarea{
  margin: 0.2em;
  padding: 2em;
  border-radius: 1em;
  background-color: #eee;
  border: none;
  width: 100%;

  
}


textarea:focus{
  box-shadow: 0px 0px 5px 1px rgb(238, 82, 173);
  outline: none;
}

.button-submit {
  margin-top: 15px;
  width: 40%;
  border-radius: 2em;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(238, 82, 173);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: none;
}


.button-submit:hover{
  background-color: rgb(207, 117, 170);
} 

.contact {
  height: 300px;
  width: 45%;
  padding-right: 20px;
  padding-bottom: 30%;
}

.p-contact {
  font-size: 12px;
  
}

.escribime {
  height: 300px;
  width: 30%;
  display: flex;
  flex-direction: column;
  
}

/* Comienza la sección footer*/

footer {
  height: 250px;
  width: 100%;
  background-color: rgb(236, 29, 150);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navegador {
  display: flex;
  justify-content: center;
}

.ul-menu-final {
  display: flex;
  list-style: none;
}



.link-menu-final {
  text-decoration: none;
  margin: 10px;
  font-size: 15px;
  color: rgb(230, 230, 213);
  
}


.social-media-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
 .social-media-footer-list{
  display: flex;
  align-items: center; 
  
  
  
}

.social-media-footer-enlaces{
  list-style: none;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center; 
  margin-top: 1em;
  margin-right: 0.5em;
  border-radius: 50%;
  background-color: white;
  color: rgb(236, 29, 150);
 

}

.social-media-footer-enlaces .icono-final:hover{
background-color: rgb(236, 29, 150);
color:white;


}

.icono-final{
  color: rgb(236, 29, 150);
  font-size: 1.5em;
  
  
}


.final-love-container {
  display: flex;
}

.final-love {
  margin-top: 15px;
  color: rgb(230, 230, 213);
  font-size: 15px;
}
