* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  box-shadow: inset 0px 0px 30px rgb(130, 130, 130);
}

/* ##### Menu ##### */
header {
  width: 100%;
  background-color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 0.5em;
  box-shadow: 0px 0px 20px 0 rgb(130, 130, 130);
  position: fixed;
}
.nav-menu {
  display: flex;
  justify-content: flex-end;
}

.ul-menu {
  display: flex;
  list-style: none;
}

.li-menu {
  display: list-item;
}

.link-menu {
  text-decoration: none;
  margin: 0.9em;
  font-size: 1em;
  color: rgb(185, 182, 182);
}

.link-menu-contacto {
  margin-right: 10em;
  background-color: rgb(236, 29, 150);
  border-radius: 2.8em;
  align-items: center;
  text-decoration: none;
  font-size: 1em;
  color: rgb(207, 203, 203);
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.link-menu-contacto:hover {
  background-color: rgb(238, 82, 173);
}

/* ##### Sección resentación  ##### */

.presentación {
  padding-top: 15em;
  padding-bottom: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2em;
}

.soy {
  font-size: 2.2em;
  font-weight: 900;
  padding-bottom: 0.5em;
}

.imagen-inicio {
  height: 35%;
  width: 35%;
}

.imagen {
  width: 100%;
  height: 100%;
}

.fuccia {
  color: rgb(236, 29, 150);
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2.5em;
}

h4 {
  color: rgb(185, 182, 182);
  margin-bottom: 2.5em;
  margin-top: 20px;
  font-size: 1em;
}

.boton {
  background-color: rgb(236, 29, 150);
  border-radius: 3em;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  font-size: 1.4em;
  color: rgb(207, 203, 203);
  padding-right: 1.8em;
  padding-left: 1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.boton:hover {
  background-color: rgb(221, 63, 155);
}

/* ##### Comienza la sección Mis conocimientos ##### */

.conocimientos-container {
  width: 100%;
  background-color: rgb(230, 230, 213);
}

.conocimientos {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.mis-conocimientos {
  font-size: 2em;
  font-weight: 800;
  padding-top: 2.5em;
  margin-bottom: 1em;
}

.conocimientos-grilla {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.conocimientos-item {
  width: 15em;
  height: 15em;
  margin: 50px 50px 50px 50px;
  padding: 30px 18px;
  background-color: white;
  border: 1px solid rgb(160, 158, 158);
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.conocimientos-item:hover {
  border: 1px solid rgb(238, 82, 173);
}

.conocimientos-item:hover .conocimientos-item-title {
  color: rgb(238, 82, 173);
}

.conocimientos-icon i {
  font-size: 6em;
}

.conocimientos-item-title {
  color: black;
  font-size: 1.3em;
  margin-top: 1em;
}

/* ##### Fin sección mis cnocimientos #### *>

/* Sección cita*/

.cita {
  width: 100%;
  background-color: rgb(236, 29, 150);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(230, 230, 213);
}

.logo-cita {
  font-size: 5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: white;
}

.picasso {
  font-size: 1.5em;
}
.autor {
  margin-top: 1.8em;
  margin-bottom: 3.5em;
}

/*  ##### Fin sección Cita #####*/

/* ### Sección Mis proyectos ###*/

.proyectos-container {
  display: flex;
  flex-direction: column;
}

.mis-proyectos {
  height: 18em;
  width: 100%;
  text-align: center;
}

.h1-proyectos {
  font-size: 2em;
  padding-top: 3em;
  padding-bottom: 2em;
}

.proyectos-grilla {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1.5em;
  margin-top: 0.5em;
}

.proyectos-box {
  width: 300px;
  margin: 15px;
  padding: 12px;
  border: 1px solid rgb(160, 158, 158);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.proyectos-box:hover {
  border: 1px solid rgb(238, 82, 173);
}

.proyectos-box:hover .proyecto-nombre {
  color: rgb(238, 82, 173);
}

.imagen-portfolio {
  width: 90%;
}

.proyecto-nombre {
  font-weight: bold;
  font-size: 14px;
}

/*##### Fin sección Proyectos ##### */

/* ##### Sección contactáme #####*/

.contact-seccion {
  width: 100%;
  background-color: rgb(218, 218, 214);
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 7em;
}

.contact-container {
  width: 90%;
  background-color: white;
  display: flex;
  justify-content: center;
  border: 0.2em solid rgb(160, 158, 158);
  border-radius: 10px;
  margin-top: 4.5em;
  padding-bottom: 8em;
}

.social-media-contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3em;
}

.contact .escribime {
  width: 100%;
}

.contact-me .whrit-me {
  font-weight: 900px;
}

.social-media-enlaces {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-media {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.social-media-ítem {
  height: 2.5em;
  width: 50px;
  border-radius: 50%;
}

.social-media-ítem i {
  font-size: 1.5em;
  color: rgb(236, 29, 150);
  padding: 0.3em;
  margin-right: 1em;
}

.social-media-ítem i:hover {
  color: white;
}

.social-media-ítem:hover i {
  background-color: rgb(236, 29, 150);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.social-media-ítem:hover .links-media {
  color: rgb(236, 29, 150);
  margin-bottom: 0.8em;
}

.contact {
  width: 45%;
  margin-top: 4em;
  margin-left: 2em;
}

.p-contact {
  font-size: 1em;
  margin-top: 2em;
}

/* #### Formulario/Escribime ### */

.escribime {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  padding-right: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.group-nombre-apellido {
  display: flex;
  margin-top: 20px;
}

.group-nombre {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 10px;
}

.group-apellido {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 10px;
}

input {
  margin-bottom: 10px;
  height: 40px;
  border-radius: 1em;
  background-color: #eee;
  border: none;
}

input::placeholder {
  padding-left: 1em;
  margin-right: 3em;
}

input:focus {
  box-shadow: 0px 0px 5px 1px rgb(238, 82, 173);
  outline: none;
}

textarea {
  margin: 0.2em;
  padding: 2em;
  border-radius: 1em;
  background-color: #eee;
  border: none;
}

textarea:focus {
  box-shadow: 0px 0px 5px 1px rgb(238, 82, 173);
  outline: none;
}

.button-submit {
  margin-top: 2.5em;
  width: 40%;
  border-radius: 2em;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(238, 82, 173);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: none;
}

.button-submit:hover {
  background-color: rgb(207, 117, 170);
}

/* ### Fin de la sección formulario ###*/

/* ### Comienza la sección footer ###*/

footer {
  width: 100%;
  background-color: rgb(236, 29, 150);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3em;
}

.navegador {
  display: flex;
}

.ul-menu-final {
  display: flex;
  list-style: none;
}

.link-menu-final {
  text-decoration: none;
  margin: 10px;
  font-size: 1.2em;
  color: rgb(230, 230, 213);
}

/* sección íconos redes */

.social-media-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-footer-list {
  display: flex;
  padding-top: 1em;
}

.social-media-footer-enlaces {
  list-style: none;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8em;
  border-radius: 50%;
  background-color: white;
  color: rgb(236, 29, 150);
}

.social-media-footer-enlaces i {
  margin: auto;
}

.social-media-footer-enlaces .icono-final:hover {
  background-color: rgb(236, 29, 150);
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.icono-final {
  color: rgb(236, 29, 150);
  font-size: 1.5em;
}

.final-love-container {
  display: flex;
}

.final-love {
  margin-top: 1.5em;
  padding-bottom: 3.5em;
  color: rgb(230, 230, 213);
  font-size: 1em;
}

/* ######## Media ######## */

@media screen and (min-width: 480px) and (max-width: 819px) {
  header {
    display: none;
  }

  .presentación {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info {
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .soy {
    font-size: 2em;
    font-weight: 900;
    padding-bottom: 0.3em;
  }

  .fuccia{
    font-size: 2.5em;
  }

  .boton {
    font-size: 1.5em;
  }

  .imagen-inicio {
    width: 90%;
  }

  .imagen {
    text-align: center;
  }

  .logo-cita {
    font-size: 4em;
  }

  .contact-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em;
  }

  .contact {
    width: 100%;
  }

  .social-media-contacto{
    display: flex;
    flex-wrap: wrap;
    
  }

  .escribime{
    width: 90%;
  }
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  header {
    display: none;
  }

  .presentación {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .imagen {
    text-align: center;
  }

  .imagen-inicio {
    width: 90%;
  }

  .info {
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .soy {
    font-size: 1.5em;
    font-weight: 900;
    padding-bottom: 0.5em;
  }

  .fuccia {
    font-size: 2em;
  }

  .boton {
    font-size: 1em;
  }

  .logo-cita {
    font-size: 4em;
  }

  .picasso {
    font-size: 1.2em;
  }

  .contact-container {
    flex-direction: column;
  }

  .contact {
    width: 100%;
    margin-left: 0;
    padding-left: 1em;
  }

  .escribime {
    width: 100%;
    padding-left: 1.5em;
  }

  .group-nombre-apellido {
    flex-direction: column;
  }

  .group-nombre {
    width: 100%;
    padding-right: 0;
  }
  .group-apellido {
    width: 100%;
    padding-left: 0;
  }

  .ul-menu-final {
    flex-direction: column;
    padding-right: 5.5em;
    padding-bottom: 1.5em;
  }

  .li-menu-final {
    margin-top: 0.2em;
  }
  .social-media-footer {
    padding-bottom: 0.5em;
  }

  .final-love {
    padding-right: 2.5em;
  }
}
